<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">CLIENTES</h2>
                        <button (click)="add()" class="btn btn-outline-primary waves-effect waves-light" data-toggle="modal" data-target="#inlineForm">Add Client</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="table-responsive">
                <table class="table data-list-view">
                    <thead>
                        <tr>
                            <th></th>
                            <th>NAME</th>
                            <th>NIT</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of list_clients">
                            <td></td>
                            <td class="product-name">{{ client.name }}</td>
                            <td class="product-category">{{ client.nit }}</td>
                            <td class="product-action">
                                <span style="cursor: pointer;" data-toggle="modal" data-target="#inlineForm" (click)="edit(client.id)" class="action-edit mx-1"><i class="text-success feather icon-edit"></i></span>
                                <span style="cursor: pointer;" (click)="delete(client.id)" class="action-delete mx-1"><i class="text-danger feather icon-trash"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>

    
                <!-- Modal -->
                <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel33">Data Client</h4>
                                <button (click)="mode_edit = false" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form (submit)="(mode_edit)? update() : save()" [formGroup]="form_client">
                                <div class="modal-body">
                                    <label>Name: </label>
                                    <div class="form-group">
                                        <input formControlName="name" type="text" placeholder="Name" class="form-control">
                                    </div>
    
                                    <label>Nit: </label>
                                    <div class="form-group">
                                        <input formControlName="nit" type="text" placeholder="Nit" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button (click)="mode_edit = false" type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="../../../app-assets/js/scripts/modal/components-modal.js"></script>