<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
  <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
          <li class="nav-item mr-auto">
            <a class="navbar-brand" href="#">
                  <h2 class="brand-text mb-0">GML</h2>
            </a>
          </li>
      </ul>
  </div>
  <div class="main-menu-content ps ps--active-y">
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
          <li class=" navigation-header"><span>Primestone</span>
          </li>
          <li class="active nav-item"><a><i class="feather icon-mail"></i><span class="menu-title" data-i18n="Email">Clientes</span></a>
          </li>
          <li class="nav-item"><a><i class="feather icon-message-square"></i><span class="menu-title" data-i18n="Chat">Sockets</span></a>
          </li>
          <li class="nav-item"><a><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Todo">Devices</span></a>
          </li>
      </ul>
  <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 573px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 132px;"></div></div></div>
</div>

<div>
  <router-outlet></router-outlet>
</div>
